@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

input {
  color-scheme: dark;
}
:root {
  --toastify-color-progress-dark: #f9a8d4;
}

.rdp-root {
  --rdp-accent-color: #f9a8d4;
  --rdp-accent-background-color: #27272a;
}
